header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  height: 65px;
  display: flex;
  padding: 0px 17px;
  color: #ffffff;
  align-items: center;
}

.trollImg {
  height: 33px;
}

.headerTitle {
  font-family: Karla;
  font-size: 20.75px;
  font-weight: 700;
  height: 24px;
  padding-left: 10px;
}

.headerProject {
  margin-left: auto;
  font-family: Inter;
  padding-top: 5px;
}
