main {
  padding: 36px;
}

.memeContainer {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.inputTxt {
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  font-family: "Karla", sans-serif;
}

.memeBtn {
  height: 40px;
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.memeImg {
  text-align: center;
  margin-top: 35px;
  position: relative;
}

.memeText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
